.map-marker-container {
  position: absolute;
}

.map-marker-info {
  border-radius: 3px;
  background-color: white;
  padding: 0.3333rem;
  border: 1px solid #ccc;
  box-shadow:
    0 0 2px 0 rgba(0, 0, 0, 0.25),
    1px 4px 5px 0 rgba(0, 0, 0, 0.2);
  color: var(--dark-1);
  position: absolute;
  top: 0;
  left: calc(100% + 0.5rem);
  font-size: 1rem;
  z-index: 1;
}

.map-marker-info--active {
  display: block;
}

.map-marker-dot {
  display: block;
  color: var(--grey-1);
}

.map-pin-icon {
  fill: currentColor;
  width: 50px;
  height: 50px;
}

.map-pin-icon--selected {
  color: blue;
}
