.map-layout-container {
  align-self: stretch;
  display: grid;
  height: 100%;
  grid:
    "sidebar-header nav-tabs" var(--nav-tabs-height-desktop)
    "sidebar-content map-content" 1fr
    / 1fr 2fr;
  max-height: calc(100vh - var(--title-bar-height-desktop));
}

.map-layout-container::before {
  display: block;
  content: '';
  height: 100%;
  grid-area: sidebar-header;
  background: var(--vertical-gradient-gray-1);
}

.map-layout__nav-tabs {
  grid-area: nav-tabs;
  background: var(--vertical-gradient-gray-1);
}

.map-layout__sidebar {
  grid-area: sidebar-content;
  overflow-y: auto;
}

.map-layout__map-content {
  grid-area: map-content;
}
