.nav-tabs {
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 1rem;
  grid-auto-flow: column;
  height: 100%;
  align-items: end;
}

.nav-tabs__link {
  box-sizing: border-box;
  display: block;
  color: var(--white);
  text-decoration: none;
  padding: 0.3333rem 0.5rem 0.75rem 0.5rem;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border: 1px solid transparent;
  border-bottom: none;
  font-size: 0.8rem;
  line-height: 1.1;
}

.nav-tabs__link:hover {
  background-color: var(--grey-1);
  border: 1px solid var(--grey-4);
  border-bottom: none;
}

.nav-tabs__link--active {
  background-color: var(--dark-1);
  border: 1px solid var(--grey-5);
  border-bottom: none;
}
