@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@300&display=swap');

:root {
  /* solid colors */
  --dark-1: #221e1f;
  --white: #fff;
  --grey-0: #000;
  --grey-1: #333;
  --grey-2: #555;
  --grey-3: #777;
  --grey-4: #999;
  --grey-5: #bbb;
  --grey-6: #ddd;
  --water-blue: #374da1;

  /* gradients */
  --vertical-gradient-gray-1:
    linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0.15),
      rgba(255, 255, 255, 0.15),
      rgba(255, 255, 255, 0)
    );

  /* sizing */
  --title-bar-height-desktop: 60px;
  --nav-tabs-height-desktop: 50px;

  /**
  * a max width for keeping main content constrained
  *
  * you don't necessarily need to have the main layout constrained
  * with this amount, the main map layout looks better full width
  */
  --max-width-content: 960px;
}

html {
  font-size: 16px;
}

body {
  margin: 0;
  background-color: var(--dark-1);
  color: white;
  font-family: 'Prompt', sans-serif;
}

a {
  color: inherit;
}

.app-container {
  height: 100vh;
  display: grid;
  grid:
    "main-header" var(--title-bar-height-desktop)
    "main-content" 1fr
    / 100%;
}

.app-container__main-header {
  grid-area: main-header;
}

.app-container__main-content {
  grid-area: main-content;
}

@import './covid-testing-sites/styles.css';
@import './about/styles.css';
@import '../components/MapLayout/styles.css';
@import '../components/MapMarker/styles.css';
@import '../components/GoogleMap/styles.css';
@import '../components/Header/styles.css';
@import '../components/NavTabs/styles.css';
